@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('./principal.css');

:root {
    --fonte-principal: 'Inter', sans-serif;
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-size: 16px;
    font-weight: 400;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}

.container__caixa {
    margin: 7.813rem 6rem;
}

/* TODO exportar os arquivos abaixo para um novo arquivo e faer import no index */
.secundario {

    align-items: center;
    margin: 0 7.5rem 0 10.313rem;
}

.secundario__imagem {
    width: 80%;
}

.container__titulo {
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    line-height: 120%;
    padding-bottom: 0.5rem;
}

.container__paragrafo {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--cinza-secundario);
}

.container__botao--secundario {
    margin-top: 1rem;
    width: 10rem;
}