@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('./sessao-principal.css');
@import url('./sessao-secundario.css');
@import url('./sessao-dispositivos.css');

:root {
    --fonte-principal: 'Inter', sans-serif;
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;

}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-size: 16px;
    font-weight: 400;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}

/* TODO exportar os arquivos abaixo para um novo arquivo e faer import no index */

.rodape {
    text-align: center;
    margin: 8.75rem;
    color: var(--cinza-secundario);
}

.rodape__lista {
    display: flex;
    justify-content: space-around;

    list-style-type: none;
    margin: 2.5rem;
}

.rodape__link a {
    color: var(--branco-principal);
    text-decoration: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}

.rodape__link a:hover {
    color: yellow;
}

.rodape__link a:active {
    color: yellow;
}



.rodape__paragrafo {
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: 0.875rem;
}